<div class="page">
    <div class="content">
        <div class="section1" style="height: 400px;">
            <ne-news-item [newsItem]="newsItems[0]"></ne-news-item>
        </div>
        <div class="section2">
            <ne-news-item [newsItem]="newsItems[1]"></ne-news-item>
            <ne-news-item [newsItem]="newsItems[2]"></ne-news-item>
            <ne-news-item [newsItem]="newsItems[3]"></ne-news-item>
        </div>

        <div class="section">
            <div class="section-title">
                SPORT
            </div>
            <div class="section2">
                <ne-news-item [newsItem]="newsItems[1]"></ne-news-item>
                <ne-news-item [newsItem]="newsItems[2]"></ne-news-item>
                <ne-news-item [newsItem]="newsItems[3]"></ne-news-item>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                SHOWBIZZ
            </div>
        </div>

    </div>

</div>